:root {
    --dark-slate-gray: #404e4d;
    --gainsboro: #DDE3E3;
    --mango: #fabc2a;
    --jasmine: #ffe096;
    --red-salsa: #ff3347;
    --pink: #FFC2C9;
    --caribbean-bean: #00c49a;
    --aero-blue: #C2FFF2;
    --azure: #3185fc;
    --beau-blue: #C3DCFD;
  }