@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

:root {
  --dark-slate-gray: #404e4d;
  --gainsboro: #DDE3E3;
  --mango: #fabc2a;
  --jasmine: #ffe096;
  --red-salsa: #ff3347;
  --pink: #FFC2C9;
  --caribbean-bean: #00c49a;
  --aero-blue: #C2FFF2;
  --azure: #3185fc;
  --beau-blue: #C3DCFD;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--gainsboro);
}

main {
  padding: 1rem;
  margin: auto;
}

main .btn {
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  height: 20rem;
}

.image img {
  height: 100%;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: var(--dark-slate-gray);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a,
.main-header__item button {
  font: inherit;
  background: transparent;
  border-color: transparent;
  border-style: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.main-header__item button.active {
  border-style: solid;
  border-width: 1px;
  border-color: initial;
}

.main-header__item button:hover, 
.main-header__item button:active {
  border-color: inherit;
}

.main-header__item a:hover {
  color: var(--jasmine);
}

.main-header__item a:active,
.main-header__item a.active {
  color: var(--mango);
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--dark-slate-gray);
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a,
.mobile-nav__item button {
  font: inherit;
  text-decoration: none;
  border-style: none;
  border-radius: 3px;
  color: var(--dark-slate-gray);
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  background: transparent;
  color: white;
  cursor: pointer;
}

.mobile-nav__item button {
  color: initial;
}

.mobile-nav__item .btn.active {
  border-style: solid;
  border-width: 1px;
}

.mobile-nav__item a.btn:hover, 
.mobile-nav__item a.btn:active {
  border-color: inherit;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover {
  background: var(--jasmine);
  color: var(--dark-slate-gray);
}

.mobile-nav__item a.active {
  background: var(--mango);
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active {
  color: var(--jasmine);
  border-color: var(--jasmine);
}

#side-menu-toggle:hover {
  color: var(--mango);
  border-color: var(--mango);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: var(--dark-slate-gray);
  color: var(--dark-slate-gray);
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: var(--dark-slate-gray);
  color: white;
}

.btn.info {
  color: var(--azure);
  border-color: var(--azure);
}

.btn.info:hover,
.btn.info:active {
  background-color: var(--azure);
  color: white;
}

.btn.success {
  color: var(--caribbean-bean);
  border-color: var(--caribbean-bean);
}

.btn.success:hover,
.btn.success:active {
  background: var(--caribbean-bean);
  color: white;
}

.btn.danger {
  color: var(--red-salsa);
  border-color: var(--red-salsa);
}

.btn.danger:hover,
.btn.danger:active {
  background: var(--red-salsa);
  color: white;
}

.btn.warning {
  color: var(--mango);
  border-color: var(--mango);
  background: white;
}

.btn.warning:hover,
.btn.warning:active {
  background: var(--mango);
  color: white;
}

.user-message {
  margin: auto;
  width: 90%;
  padding: 0.5rem;
  border: 1px solid var(--dark-slate-gray);
  border-radius: 3px;
  background-color: var(--gainsboro);
  color: var(--dark-slate-gray);
  text-align: center;
  font-weight: bold;
}

.user-message--danger {
  border-color: var(--red-salsa);
  background-color: var(--pink);
  color: var(--red-salsa);
}

.user-message--info {
  border-color: var(--azure);
  background-color: var(--beau-blue);
  color: var(--azure);
}

.user-message--success {
  border-color: var(--caribbean-bean);
  background-color: var(--aero-blue);
  color: var(--caribbean-bean);
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }

  .user-message {
    width: 30rem;
  }
}
